@import "tailwindcss";
@import "./mobile.css";

/* --- Gotham font setup --- */
@layer base {
  /* Regular */
  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/GothamRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Italic */
  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/GothamItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  /* Extra Light Italic */
@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/GothamExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GothamLight";
  src: url("./assets/fonts/GothamLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

  :root {
    --font-gotham: "Gotham", system-ui, sans-serif;
    --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}
}

/* Utility class */
@layer utilities {
  .font-gotham {
    font-family: var(--font-gotham);
  }
}